body{
    background-color: #CB3234;
}

.pokeID {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.pokeStats {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.butto{
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-width: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.pokeStats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 20px;
}

.pokeTypes div {
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;   
    
}


.intro{
    margin-left: 35rem;
    margin-top: 1rem ;
}

.Imagen{
    margin-left: 19rem;    
}

.namePokemon{
    background-color: #FFF;
    border: 3px solid #000;
    text-align: center;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
    margin-top: 15px;
    margin-left: 500px ;
    margin-right: 500px ;
    text-transform: capitalize;   
}

.dexfondo{
    background: #fbfdff;
    margin-left: 500px ;
    margin-right: 500px ;
    position: relative;
    border: 3px solid #000;
}